$add-size: 18px;
$menu-size: 18px;
$language-size: 20px;
$section-p-size: 18px;
$section-head-size: 24px;
$card-size: 20px;
$search-size: 16px;
$showcase-head-size: 54px;
$showcase-p-size: 20px;
$product-head-size: 18px;
$price: 18px;
$footer-head-size: 20px;
$footer-head2-size: 16px;
$footer-p-size: 13px;
$footer-address-size: 15px;
$copyright-size: 12px;
//////////////////////////////////DETAILS///////////////////////
$details-head-size: 40px;
